.header {
  flex: 3;
  color: var(--projectHeader-col);
  display: flex;
  flex-direction: column;
  font-size: 6rem;
  align-items: center;
  justify-content: center;
}

.subtitle {
  font-size: 8rem;
  font-weight: bold;
}
