.main {
  height: 100vh;
  position: relative;
  background-color: var(--main-bg);
  display: flex;
  align-items: center;
  /* margin-top: var(--nav-height); */
  justify-content: center;
  padding: 0 5rem;
  overflow: hidden;
}

.heading {
  height: 100%;
  width: 50%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin-left: 1rem;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 70%;
}
.aboutMe {
  font-size: 1.3rem;
  color: var(--aboutMe-col);
  line-height: 2rem;
}

.firstName {
  font-size: 6rem;
  font-weight: bold;
  color: var(--fullName-col);
}
.lastName {
  font-size: 6rem;
  font-weight: bold;
  color: var(--fullName-col);
}

.code {
  font-size: 3rem;
  color: white;
  font-weight: 200;
}

.meContainer {
  flex: 1;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.me {
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
  transform: scale(1.25) translateY(20%);
  filter: drop-shadow(10px 5px 2px #281854);
}

/* For devices with a width of 1024px and below */
@media (max-width: 1280px) {
  .firstName,
  .lastName {
    font-size: 4rem;
  }

  .code {
    font-size: 2rem;
  }

  .aboutMe {
    font-size: 1rem;
  }

  .me {
    transform: scale(1.1) translateY(10%);
  }

  .heading {
    width: 100%;
    margin-left: 0;
    align-items: center;
  }

  .about {
    width: 80%;
    gap: 2rem;
  }
}

@media (max-width: 1024px) {
  .firstName,
  .lastName {
    font-size: 3.5rem;
  }

  .code {
    font-size: 2rem;
  }

  .aboutMe {
    font-size: 0.8rem;
    text-overflow: ellipsis;
    line-height: 1.2rem;
  }

  .me {
    transform: scale(1.25) translateY(15%);
  }
}

/* For devices with a width of 768px and below */
@media (max-width: 768px) {
  .main {
    padding: 0 2.5rem;
  }
  .firstName,
  .lastName {
    font-size: 3.5rem;
  }

  .code {
    font-size: 2rem;
  }

  .aboutMe {
    font-size: 1rem;
  }

  .me {
    transform: scale(0.8) translateY(15%);
    width: 100%;
  }

  .heading {
    width: 100%;
    margin-left: 0;
    align-items: center;
  }

  .about {
    width: 80%;
    gap: 2rem;
  }
}

/* For devices with a width of 480px and below */
@media (max-width: 480px) {
  .firstName,
  .lastName {
    font-size: 2.5rem;
  }

  .code {
    font-size: 1.5rem;
  }

  .aboutMe {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  .me {
    transform: scale(1) translateY(5%);
  }

  .about {
    width: 90%;
    gap: 1.5rem;
  }
}
