.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 2.49;
  gap: 5px;
  font-size: 0.75rem;
}

.key {
  background-color: var(--key-bg);
  color: var(--key-col);
  border-radius: 0.5rem;
  transition: 300ms all;
  position: relative;
  overflow: hidden;
}

/* .main:hover .key {
  background-color: #c7c7c7;
  background-color: #f4f4f5;
} */
.row1 {
  display: flex;
  gap: 5px;
  color: white;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.main:hover .skillName {
  opacity: 1;
}

.skillName {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: scale(1.25);
  opacity: 0;
  height: 100%;
  transition: 150ms opacity;
}

.skillKey:hover .skillName {
  opacity: 0;
}

.skillKey:hover .expandedSkills {
  opacity: 1;
  box-shadow: 5px 5px grey;
  width: max-content;
  transform: scaleX(1);
}

.expandedSkills .skillKey > span {
  opacity: 0;
}

.expandedSkills > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  gap: 0.5rem;
}
.expandedSkills img {
  height: 100%;
}
.expandedSkills {
  display: flex;
  position: absolute;
  z-index: 1;
  border-radius: 1rem;
  overflow: hidden;
  top: 0;
  left: 0;
  letter-spacing: 1px;
  height: 100%;
  color: black;
  background-color: #f4f4f4;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 0 1rem;
  opacity: 0;
  transition: all 300ms ease;
  transform: scaleX(0);
  transform-origin: left;
}

.main:hover .key {
  background-color: var(--key-hover-bg);
}
.key:not(.skillKey) > span {
  transform: translateY(0%);
  transition: 500ms all;
}
.main:hover
  .key:not(.esc):not(.powerButton):not(.caps):not(.tab):not(.shift):not(
    .textSm
  ):not(.delete):not(.return):not(.skillKey)
  > span {
  transform: translateY(500%);
  opacity: 0;
}
.main:hover .skillKey {
  background-color: #f4f4f4;
  transition: 150ms all;
  font-size: 0;
}
.skillName > img {
  object-fit: fill;
}
.number {
  flex: 6.6;
  overflow: visible;
}
.row {
  display: flex;
  gap: 5px;
  color: white;
  font-size: 1.4rem;
  width: 100%;
  height: 17.3%;
  font-family: Arial, Helvetica, sans-serif;
}

.row > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.esc {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1px;
  width: 11.8%;
  padding-bottom: 7px;
  height: 100%;
  padding-left: 7px;
  cursor: pointer;
}

/* .esc-text {
  margin: 5px;
} */

.fnKey {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.6%;
  aspect-ratio: 1.25;
  cursor: pointer;
}

.powerButton {
  display: flex;
  padding-right: 1rem;
  justify-content: flex-end;
  align-items: center;
  width: 8.7%;
  border-radius: 1rem;
  cursor: pointer;
}

.tilde {
  flex: 9.7;
}

.symbol {
  font-size: 1rem;
}

.delete {
  flex: 11.1;
}

.tab {
  flex: 12.6;
}
.left > span {
  align-self: flex-start;
  margin-left: 1rem;
}
.right > span {
  align-self: flex-end;
  margin-right: 1rem;
}

.caps {
  flex: 14;
}
.pipe {
  flex: 8;
}

.shift {
  flex: 17.8;
}

.command {
  flex: 9.3%;
}

.space {
  flex: 37.4;
}

.textSm {
  font-size: 1.25rem;
}
